# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv

# Test files and temporary outputs
test_*.pdf
sample*.pdf
out_test.png
thumbnail.png
merged.pdf
extraction_demo_pdfs/
tests/test_pdfs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.github
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
.DS_Store
