# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Test files and temporary outputs
test_*.pdf
sample*.pdf
out_test.png
extraction_demo_pdfs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.github
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
